body {
  background-image: url("Background.png");
  font-family: "Lucida Grande", sans-serif;
}

div {
  background-color: LightGray;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  width: 640px;
}

div#login {
  height: 480px;
}

div#logout {
  height: 400px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

em {
  font-weight: bold;
  font-style: normal;
}

form {
  position: relative;
}

select {
  width: 400px;
  font-size: 110%;
  background-color: LightGray;
}

button {
  font-size: 110%;
  background:linear-gradient(#FFFFFF, #AAAAAA);
  border-radius: 5px;
}

p.underlined{
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

p.annotation {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 20px;
  width: 560px;
  text-align: right;
}

input {
  font-size: 110%;
  width: 550px;
  border: 1px solid black;
  margin-left: 5px;
}
